name: Deploy to AWS

on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'stg' }}
    env:
      STAGE: ${{ github.ref == 'refs/heads/main' && 'prod' || 'stg' }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Set environment variables
        run: |
          echo "STAGE=${STAGE}" >> .env
          echo "DOMAIN_NAME=${{ vars.DOMAIN_NAME }}" >> .env
          echo "ROUTE53_RECORD_DOMAIN_NAME=${{ vars.ROUTE53_RECORD_DOMAIN_NAME }}" >> .env
          echo "HOSTED_ZONE_ID=${{ vars.HOSTED_ZONE_ID }}" >> .env

          echo "VITE_APP_TITLE=${{ vars.VITE_APP_TITLE }}" >> .env

          source .env

      - name: Install dependencies
        run: npm ci

      - name: Check environment variables
        run: |
          source .env
          env | grep -E "(STAGE|DOMAIN_NAME|ROUTE53_RECORD_DOMAIN_NAME|HOSTED_ZONE_ID|VITE_APP_TITLE)"

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Setup AWS SAM CLI
        uses: aws-actions/setup-sam@v2

      - name: SAM Build
        run: sam build

      - name: SAM Deploy
        run: |
          source .env
          sam deploy \
            --config-file samconfig.yaml \
            --stack-name web-roulette-${STAGE} \
            --no-fail-on-empty-changeset \
            --parameter-overrides \
              Stage=${STAGE} \
              DomainName=${DOMAIN_NAME} \
              Route53RecordDomainName=${ROUTE53_RECORD_DOMAIN_NAME} \
              HostedZoneId=${HOSTED_ZONE_ID}

      - name: Get stack outputs from SAM
        run: |
          STACK_NAME="web-roulette-${STAGE}"
          DISTRIBUTION_ID=$(aws cloudformation describe-stacks --stack-name "${STACK_NAME}" --query "Stacks[0].Outputs[?OutputKey=='CloudFrontDistributionId'].OutputValue" --output text)
          BUCKET_NAME=$(aws cloudformation describe-stacks --stack-name "${STACK_NAME}" --query "Stacks[0].Outputs[?OutputKey=='S3BucketName'].OutputValue" --output text)
          echo "DISTRIBUTION_ID=${DISTRIBUTION_ID}" >> $GITHUB_ENV
          echo "BUCKET_NAME=${BUCKET_NAME}" >> $GITHUB_ENV

      - name: Build
        run: npm run build

      - name: Deploy to S3
        run: aws s3 sync ./dist s3://${{ env.BUCKET_NAME }} --delete

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id ${{ env.DISTRIBUTION_ID }} --paths '/*'
